<table>
  <thead>
    <tr><th></th><th>Carta</th><th>Set</th><th>Raridade</th><th>Qtd</th><th>Origem</th><th></th></tr>
  </thead>
  <tbody id="collection-rows">
    {% for item in items %}
    {% set display_name = display_names.get(item.card_id, item.card.name) if display_names else item.card.name %}
    {% set lang = filters.lang if filters else "EN" %}
    {% include "partials/collection_row.html" %}
    {% else %}
    <tr><td colspan="7"><em>Nenhum item bate com o filtro.</em></td></tr>
    {% endfor %}
  </tbody>
</table>
