<table>
  <thead>
    <tr><th></th><th>{{ t('dashboard.table_card') }}</th><th>{{ t('dashboard.table_set') }}</th><th>{{ t('collection.table_rarity') }}</th><th>{{ t('dashboard.table_qty') }}</th><th>{{ t('dashboard.table_source') }}</th><th></th></tr>
  </thead>
  <tbody id="collection-rows">
    {% for item in items %}
    {% set display_name = display_names.get(item.card_id, item.card.name) if display_names else item.card.name %}
    {% set lang = filters.lang if filters else "EN" %}
    {% include "partials/collection_row.html" %}
    {% else %}
    <tr><td colspan="7"><em>{{ t('common.no_items_match') }}</em></td></tr>
    {% endfor %}
  </tbody>
</table>
