<table>
  <thead>
    <tr><th></th><th>{{ t('dashboard.table_card') }}</th><th>{{ t('database.table_type') }}</th><th>{{ t('database.table_attribute') }}</th><th>{{ t('database.table_archetype') }}</th></tr>
  </thead>
  <tbody>
    {% for card in cards %}
    <tr>
      <td><img class="thumb" src="/api/v1/cards/{{ card.id }}/image?size=small" loading="lazy" alt=""></td>
      <td><a href="/cards/{{ card.id }}?lang={{ filters.lang }}">{{ display_names.get(card.id, card.name) }}</a></td>
      <td>{{ card.human_readable_type or card.type }}</td>
      <td>{{ card.attribute or "" }}</td>
      <td>{{ card.archetype or "" }}</td>
    </tr>
    {% else %}
    <tr><td colspan="5"><em>{{ t('common.no_cards_found') }}</em></td></tr>
    {% endfor %}
  </tbody>
</table>
